body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(90, 86, 94);
    
}
#contenedor{
    width: 90%;
    height: 90%;
    margin: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(232, 235, 235);
    text-align: center;
    color: black;
    padding-block: auto;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    height: auto;
    margin: auto;
    
    padding-top: 6px;
    text-align: right;
}
.pantalla_o{
    display: none;
}
.pantalla_2{
    display: block;
}
.pantalla_1{
    display: block;
}
nav{
    width: auto;
    height: auto;
    margin-top: 5px;
    background-color: rgba(185, 15, 44, 0.637);

}
button{
    margin: auto;
   padding-inline: 9%;
    color: black;
    border-radius: 50px;
    background-color: rgb(255, 8, 8);
 }