body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(129, 2, 108);
    color: azure;
}
.pantalla_o{
    display: none;
}
.pantalla2{
    display: block;
}
.pantalla1_o{
    display: none;
}
.pantalla1{
    display: block;
}
#contenedor{
    width: auto;
    height: auto;
    background-color: palevioletred;
    margin: auto;
    text-align: center;
    
}
.text{
    text-align: center;
}
nav{
    margin: auto;
    background-color: rgb(129, 2, 108);

}

button{
    margin: auto;
   padding-inline: 9%;
    color: black;
    border-radius: 50px;
    background-color: aqua;
    

}
footer{
    
    background-image: linear-gradient(70deg, rgba(108, 3, 134, 0.719), #700d2bc0);



}
